* {
  font-family: "Helvetica", sans-serif;
}

header {
  background: #ed6161;
  color: #fff;
  font-weight: bold;
  padding: 24px;
  text-align: center;
}

nav {
  color: #fff;
  width: 250px;
  box-sizing: border-box;
  background-color: #555;
  border-right: 2px solid #333;
  position: fixed;
  padding: 24px;
  top: 0;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease;
  z-index: 2;
}

#main-content {
  position: relative;
  overflow: hidden;
  left: 0;
  transition: all 0.5s ease;
}

#main-content.push {
  left: 250px;
}

.menu-toggle {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.menu-toggle:hover {
  cursor: pointer;
}

.section-title {
  display: inline-block;
}

nav.hidden {
  left: -250px;
}

nav ul {
  padding: 0;
}

nav ul li {
  list-style-type: none;
  margin-bottom: 12px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: row;
  padding: 24px;
}

main ul {
  padding-left: 0;
}

main ul li {
  list-style: none;
  margin-bottom: 12px;
}

.controls {
  width: 40%;
}

.controls .songlist a {
  color: #333;
  text-decoration: none;
}

.controls .songlist a:hover {
  color: #ed6161;
}

.video-player {
  width: 60%;
  text-align: center;
}

footer {
  padding: 24px;
  text-align: center;
  border-top: 1px solid #c0c0c0;
}
